#outside_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(background.jpg);
    z-index: -1;
}

#container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

}

.container_2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
}

#avatar_container {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 50%;
    height: 20%;
}


#photo {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: url(photo.jpeg);
    background-size: cover;
    border: 2px;
    z-index: 2;
}

.info{

    text-align: center;

    margin-top: 10px;
    color: #0b0329;
    margin-bottom: 70px;
    font: bold italic 110% serif;
}

#menu_container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    border: 2px;
    background: #eee;
}

#menu{
    list-style:none; 
    width:800px; 
    padding:0; 
    margin: auto;

}
#menu li{
    float:left; 
    font:bold 14px Arial;
    width: 20%;
}
#menu a{
    color:#666; 
    display:block; 
    height:40px; 
    line-height:36px; 
    padding:0px 10px 0px 10px; 
    background:#eee; 
    text-decoration:none;
}
#menu a:hover{
    color:#fff; 
    background:#888;
}
h3{

    color: #ff0000c5;

}

ul{
    list-style: none;
}

p{
    line-height: 40px;
    padding-bottom: 20px;
    display: block;
    color: #ff0000c5;
    font: bold italic 110% serif;
}

h1{
    margin-top: 50px;
    margin-bottom: 100px;
    color: #ff0000c5;
    font-size: 60pt;
    font-style: oblique
}
