@font-face {
    font-family: bad-script;
    src: url(fonts/BadScript-Regular.ttf)
}

#outside_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(background.png);
    z-index: -1;
    background-size: 100%;
}

#container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container_2 {
    position: relative;
    border: 2px solid #000000c5;
    top: 0px;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    z-index: 0;
    background: #c0d698c5;
    overflow: auto;
}

#avatar_container {
    position: absolute;
    top: calc(30% - 120px);
    left: calc(55% - 220px);
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    height: 70%;
    background: #242b36;
}

#photo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px;
    z-index: 1;
}

.info {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    margin-bottom: 70px;
    font-size: 200%;
    font-weight: bold;
    font-family: bad-script;
    font-style: italic;
}

#menu_container {
    top: 70px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: calc(100% - 70px);
    border: 2px;
    background: #242b36;
    z-index: 50%;
}

#menu {
    width: 50px;
    height: 100%;
    padding: 0;
    margin: auto;
}

#menu li {
    margin: 50px;
    height: 15%;
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-left: 0;
}

#menu a {
    color: #666;
    display: block;
    height: 60px;
    line-height: 60px;
    background: #242b36;
    text-decoration: none;
}

#menu a:hover {
    color: #fff;
    background: #888;
}

h3 {
    color: #0b0329;
}

ul {
    list-style: none;
}

p {
    line-height: 40px;
    padding-bottom: 20px;
    display: block;
    color: #0b0329;
    font-size: 110%;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    text-indent: 1.5em;
}

h1 {
    margin-top: 50px;
    margin-bottom: 80px;
    color: #0b0329;
    font-size: 80px;
    font-style: oblique;
}

footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: rgb(146, 143, 143);
    border: 2px outset #383737c5;
}

.logo_text {
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    display: inline-block;
}

body {
    float: left;
    margin: 0px;
}

.ava {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.rotate {
    position: absolute;
    width: 138px;
    height: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 100% 0%;
    left: -138px;
    text-align: center;
}

#head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 100%;
}

#top_menu {
    position: absolute;
    top: 0;
    height: 70px;
    left: 0;
    width: 100%;
    z-index: 100%;
    background-color: rgb(255, 255, 255);
}

#bot_cont {
    position: relative;
    top: calc(100% - 100px);
    left: calc(55% - 220px);
    width: calc(45% + 220px);
    height: 100px;
    background: #242b36;
}

.bot_men {
    position: absolute;
    width: 50%;
    height: 100%;
}